:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 21px;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
}
a{
  text-decoration: none;
  color: black;
}

/* Container to center content and add padding */
.slider-container {
  max-width: 100%;
  margin: 0 auto;
 
}

/* Slider heading style */
.slider-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}
